*{
    padding: 0;
    border: none;
    margin: 0;
}

.contenedor{
    margin: auto;
    width: 99.3%;
    height: 650px;
    border: 2px solid black;
    background: url("img/back.jpg");
    background-size: cover;
}

.caja-asientos{
    margin: auto;
    width: 1200px;
    height: 520px;
    background: red;
}

.pantalla{
    margin: auto;
    width: 1200px;
    height: 30px;
    background: blue;
    margin-top: 100px;
}

.lado-izquierdo{
    width: 400px;
    height: 600px;
    background: blue;
}